@import 'tailwindcss';
@import "tw-animate-css";
@import "dither-plugin";
@import "shadcn/tailwind.css";

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-mono: 'Geist Mono', 'Fira Code', monospace;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-illustration: var(--illustration);
  --color-border-illustration: var(--border-illustration);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-hue-rotate: hue-rotate 4s infinite;
  --animate-scan: scan 3s infinite;
  --animate-capture: capture .1s infinite;
  --animate-reveal: reveal 0.8s ease-in;
  --animate-logo-reveal: logo-reveal 0.5s ease-in-out;
  --animate-enter-from-right: enter-from-right 0.3s ease-out;
  --animate-enter-from-left: enter-from-left 0.3s ease-out;
  --animate-exit-to-right: exit-to-right 0.3s ease-in;
  --animate-exit-to-left: exit-to-left 0.3s ease-in;
  --animate-scale-in: scale-in 0.2s ease-out;
  --animate-scale-out: scale-out 0.2s ease-in;
  --animate-fade-in: fade-in 0.2s ease-out;
  --animate-fade-out: fade-out 0.2s ease-in;

  @keyframes accordion-down {
    from { height: 0; }
    to { height: var(--radix-accordion-content-height); }
  }
  @keyframes accordion-up {
    from { height: var(--radix-accordion-content-height); }
    to { height: 0; }
  }
  @keyframes hue-rotate {
    from { filter: hue-rotate(0deg); }
    to { filter: hue-rotate(360deg); }
  }
  @keyframes scan {
    from { transform: translateY(0); }
    50% { transform: translateY(100%); }
    to { transform: translateY(0); }
  }
  @keyframes capture {
    from { opacity: 0; }
    50% { opacity: 1; }
    to { opacity: 0; }
  }
  @keyframes reveal {
    from { clip-path: circle(0% at 50% 50%); }
    to { clip-path: circle(100% at 50% 50%); }
  }
  @keyframes logo-reveal {
    from { transform: scale(0); opacity: 0; filter: blur(12px); }
    75% { opacity: 1; transform: scale(1.1); filter: blur(0px); }
    to { transform: scale(1); }
  }
  @keyframes enter-from-right {
    from { opacity: 0; transform: translateX(200px); }
    to { opacity: 1; transform: translateX(0); }
  }
  @keyframes enter-from-left {
    from { opacity: 0; transform: translateX(-200px); }
    to { opacity: 1; transform: translateX(0); }
  }
  @keyframes exit-to-right {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(200px); }
  }
  @keyframes exit-to-left {
    from { opacity: 1; transform: translateX(0); }
    to { opacity: 0; transform: translateX(-200px); }
  }
  @keyframes scale-in {
    from { opacity: 0; transform: rotateX(-10deg) scale(0.9); }
    to { opacity: 1; transform: rotateX(0deg) scale(1); }
  }
  @keyframes scale-out {
    from { opacity: 1; transform: rotateX(0deg) scale(1); }
    to { opacity: 0; transform: rotateX(-10deg) scale(0.95); }
  }
  @keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  @keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  :root {
    --radius: 0.625rem;

    --background: var(--color-zinc-50);
    --foreground: var(--color-zinc-950);

    --card: var(--color-white);
    --illustration: var(--color-white);
    --card-foreground: var(--color-zinc-950);

    --popover: var(--color-white);
    --popover-foreground: var(--color-zinc-950);

    --primary: var(--color-zinc-950);
    --primary-foreground: var(--color-white);

    --secondary: var(--color-sky-100);
    --secondary-foreground: var(--color-sky-600);

    --muted: --alpha(var(--color-foreground)/5%);
    --muted-foreground: var(--color-zinc-600);

    --accent: var(--color-zinc-100);
    --accent-foreground: var(--color-zinc-800);

    --destructive: var(--color-red-600);
    --destructive-foreground: var(--color-white);

    --border: --alpha(var(--foreground)/7.5%);
    --border-illustration: --alpha(var(--foreground)/7.5%);
    --input: --alpha(var(--foreground)/7.5%);
    --ring: var(--color-primary);

    --chart-1: var(--color-blue-500);
    --chart-2: var(--color-indigo-500);
    --chart-3: var(--color-purple-500);
    --chart-4: var(--color-indigo-400);
    --chart-5: var(--color-red-500);

    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.21 0.006 285.885);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.015 286.067);

    --counter-start: 1;
  }

  .dark {
    --background: var(--color-zinc-950);
    --foreground: var(--color-zinc-50);

    --card: color-mix(in oklab, var(--color-zinc-800) 55%, #000);
    --illustration: color-mix(in oklab, var(--color-zinc-800) 60%, #000);
    --card-foreground: var(--color-zinc-50);

    --popover: var(--color-zinc-950);
    --popover-foreground: var(--color-zinc-50);

    --primary: var(--color-zinc-50);
    --primary-foreground: var(--color-zinc-950);

    --secondary: var(--color-zinc-800);
    --secondary-foreground: var(--color-zinc-50);

    --muted: var(--color-zinc-800);
    --muted-foreground: var(--color-zinc-400);
    --accent: var(--color-zinc-800);
    --accent-foreground: var(--color-zinc-50);

    --destructive: var(--color-red-700);
    --destructive-foreground: var(--color-white);

    --border: oklch(1 0 0 / 10%);
    --border-illustration: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: var(--color-zinc-600);

    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.552 0.016 285.938);
  }

  * {
    @apply outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }

  .line {
    counter-increment: line;
    @apply relative pl-10 before:absolute before:opacity-35 before:inset-y-0 before:transition-colors before:duration-200 before:content-[counter(line)] before:text-xs before:left-0 before:text-right before:w-6 before:mr-6 before:my-auto hover:before:opacity-100;
  }

  .line:first-of-type {
    counter-set: line var(--counter-start);
  }
}
